<html>
    <body>
        <p>Practice30.07.21</p>
        <form action="http://localhost:3000/myaction1" method="post">
            <label for="username">User name:</label><br>
            <input type="text" id="username1" name="username1"><br>
            <label for="newPassword">New Password:</label><br>
            <input type="text" id="newPassword" name="newPassword"><br>
            <label for="confirmnewPassword">Confirm New Password:</label><br>
            <input type="text" id="confirmNewPassword" name="confirmNewPassword"><br><br>
            <input type="submit" value="change">
        </form>
    </body>
</html>