<html>
    <body>
        <p>Practice30.07.21</p>
        <form action="http://localhost:3000/myaction" method="post">
            <label for="username">User name:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
        <a href="/practice/forgotpassword"><input type="submit" value="ForgotPassword"></a> <!-- <-------------------------------->
    </body>
</html>